<div class="card">
    <div class="card-header">
      <h4>Post your Leads and Ideas</h4>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/brainwaves.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
        <div class="text-center">Created by:</div>
        <div class="text-center">
          <h3>Team Brainwaves</h3>
        </div>
      </div>
    </div>
  </div>